<div id="title">
    <div>
        <p><%= format_datetime(@article.created_at) %> / 書いた人:<%= @article.author %></p>
        <h1><%= @article.title %></h1>
    </div>
</div>

<div id="article_wrap">

    <div id="content">

      <%== @article.content %>

    </div>

    <div class="clear"></div>
</div>
